@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Cabinet Grotesk", sans-serif;
  --secondary-font: "Satoshi", sans-serif;
  --primary: 257 68% 71%;
  --secondary: 173 80% 32%;
  --background: 0 0% 95%;
  --foreground: 0 0% 0%;
  --light-foreground: 0 0% 75%;
  --tertiary: 0 0% 90%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --ring: 0 0% 0%;
}

.dark {
  --secondary: 178 67% 73%;
  --background: 252 11% 9%;
  --foreground: 0 0% 100%;
  --tertiary: 0 0% 15%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --ring: 53 100% 69%;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

body {
  @apply bg-background;
  font-family: var(--primary-font);
}
