@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Cabinet Grotesk", sans-serif;
  --secondary-font: "Satoshi", sans-serif;
  --primary: 25 92% 51%;
  --light: 0 0% 98%;
  --light-foreground: 0 0% 0%;
  --light-secondary: 0 0% 95%;
  --dark: 252 11% 9%;
  --dark-foreground: 0 0% 100%;
  --dark-secondary: 0 0% 15%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
}

body {
  @apply bg-light dark:bg-dark flex flex-col min-h-screen m-auto p-4 lg:p-6 xl:max-w-[1440px] 2xl:max-w-[1920px];
  font-family: var(--primary-font);
}
