@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/cabinet-grotesk");
@import url("https://fonts.cdnfonts.com/css/satoshi");

:root {
  --primary-font: "Cabinet Grotesk", sans-serif;
  --secondary-font: "Satoshi", sans-serif;
  --primary: 25 92% 51%;
  --light: 0 0% 98%;
  --light-foreground: 0 0% 0%;
  --light-secondary: 0 0% 95%;
  --dark: 252 11% 9%;
  --dark-foreground: 0 0% 100%;
  --dark-secondary: 0 0% 15%;
}

html {
  @apply p-4 lg:p-6;
}

body {
  @apply bg-light dark:bg-dark;
  font-family: var(--primary-font);
}
